*{
    font-family: 'Exo', sans-serif;
}
.header-color{
    background-color: #1d3557;
    color: #f1faee;
}
#header-container{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.title-header{
    font-size: 20px;
    padding: 0.5em 0 0 1em;
}
#main-container{
    display: grid;
    grid-template-rows: 100px 4fr;
}
.first-main-row{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #457b9d;
    color: #f1faee;
    min-height: 15vh;
}
.now-playing{
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    font-size: 50px;
}
.second-main-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 40em);
    padding: 5em 1em 1em 1em;
    margin: 2em;
}
.poster{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 50px 100px;
    padding: 2em 4em 3em 4em; 
}
.poster-picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 1em ;
    min-height: 5em;
    background-color: #457b9d;
}
.poster-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #457b9d;
    font-size: 15px;
}
.poster-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #457b9d;
    font-size: 15px;
}
button{
    background-color: #bac1b8;
    border: 2px solid #bac1b8;
    padding: 1em;
    margin: 0.5em;
    font-size: small;
}
.footer-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #457b9d;
    color: #f1faee;
    font-size: 50px;
    padding: 1em;
    min-height: 5vh;
}
.footer-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 1em 1em;
    min-height: 50vh;
}
.coming-soon-posters{
    padding: 1em;
    margin: 1em;
}